/*dashboard*/
html,
body {
    height: 100%;
    margin: 0;
}
header {
    background-color: rgb(255, 234, 163);
    width: 100%;
    height: 60px;
    padding: 20px;
}
header .judul {
    color: black;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-top: -6px;
}
.judul span {
    color: #ff6d00;
}

.btn {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn-logout {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: right;
    margin-top: -35px;
    margin-right: 30px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
}
.btn-home {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: right;
    margin-top: -35px;
    margin-right: 120px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
}

.dashboard {
    margin: 0;
    padding: 0;
    height: 94.2%;
    width: 100%;
}

.menu {
    background-color: #ffe082;
    padding-top: 30px;
    left: 0;
    margin: 0;
    padding-right: 0;
    max-width: 300px;
}

.menu h4 {
    color: black;
    margin-top: 40px;
    margin-bottom: 40px;
}

.active {
    background: #f57f17;
}

.menu a {
    color: black;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 40px;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.5s;
    transition-property: background;
}

.menu a:hover {
    background: #f9a825;
}

.menu i {
    padding-right: 10px;
}

/*dashboard penulis*/
.counter {
    padding: 50px 0px;
}

.counter .count-card {
    box-shadow: 25px 27px 10px -24px #e8e8e8;
    padding: 30px;
    width: 100%;
    background: #fff;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-bottom-right-radius: 50px;
    position: relative;
    overflow: hidden;
    z-index: 99999;
    margin-top: 10%;
}

.counter .count-card::after {
    content: "";
    position: absolute;
    background: #fff5a0;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
}

.counter .count-card:hover::after {
    background: #fff5a0;
    width: 100%;
    height: 100%;
}

.counter .count-card i {
    display: block;
    font-size: 30px;
    color: #4caf50;
    float: left;
}

.counter .count-card span {
    font-size: 42px;
    line-height: 24px;
    display: block;
    font-weight: 700;
    color: #607d8b;
    margin-left: 50px;
}

.counter .count-card p {
    font-size: 14px;
    text-align: right;
}

.counter .count-card h3 {
    font-size: 20px;
    margin-top: 36px;
    text-transform: uppercase;
    text-align: right;
    color: #607d8b;
}

.counter .count-card a {
    font-weight: 600;
    display: block;
    border-top: 2px dashed #4caf50;
    margin-top: 20px;
    padding-top: 20px;
    color: #4caf50;
    font-size: 18px;
    text-decoration: none;
    text-align: right;
}

.counter .count-card a:hover {
    color: #607d8b;
}

/*edit profile*/
.rounded {
    background-color: #f9a825;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ba68c8;
}

/*daftar postingan*/
img {
    width: 100%;
    height: auto;
}

.single-blog-item {
    border: 1px solid #dfdede;
    box-shadow: 2px 5px 10px #dfdede;
    margin: 15px auto;
    padding: 5px;
    position: relative;
}

.blog-content {
    padding: 15px;
}

.blog-content h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: black;
}

.blog-content h4 a {
    color: black;
}

.blog-content p {
    color: black;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.3333;
}

.blog-date {
}

.blog-date {
    position: absolute;
    background: rgb(250, 188, 150);
    top: 35px;
    left: 5px;
    color: #fff;
    border-radius: 0 25px 25px 0;
    padding: 5px 15px;
    font-weight: 700;
}

.more-btn {
    background: #337ab7;
    border-radius: 2px;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 30px auto auto auto;
    text-align: center;
    width: 110px;
    color: #f1f1f1;
}

/*tambah postingan*/
label small {
    color: #999;
    font-weight: normal;
}
