html,
body {
    height: 100%;
    margin: 0;
}
header {
    background-color: rgb(255, 234, 163);
    width: 100%;
    height: 60px;
    padding: 20px;
}
header .judul {
    color: black;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-top: -6px;
}
.judul span {
    color: #ff6d00;
}
.btn {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-logout {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: right;
    margin-top: -35px;
    margin-right: 30px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
}
.btn-home {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: right;
    margin-top: -35px;
    margin-right: 120px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
}
.dashboard {
    margin: 0;
    padding: 0;
    height: 94.2%;
    width: 100%;
}
.menu {
    background-color: #ffe082;
    padding-top: 30px;
    left: 0;
    margin: 0;
    padding-right: 0;
    max-width: 300px;
}
.menu h4 {
    color: black;
    margin-top: 40px;
    margin-bottom: 40px;
}
.active {
    background: #f57f17;
}
.menu a {
    color: black;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 40px;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.5s;
    transition-property: background;
}
.menu a:hover {
    background: #f9a825;
}
.menu i {
    padding-right: 10px;
}

/*menu dashboard*/
.table-dashboard {
    margin-top: 20px;
    margin-left: 200px;
    width: 70%;
    text-align: center;
}
.table-dashboard th {
    background-color: #f9a825;
}
.table-dashboard tbody {
    background-color: #fff9c4;
}
/*menu edit profil*/
.card-profil {
    margin-top: 120px;
    margin-left: 20px;
    padding-top: 20px;
    width: 45%;
    background-color: #f9a825;
}
.form-control {
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 2px;
}

.btn-edit {
    margin-top: 10px;
    margin-left: 200px;
    border-radius: 2px;
}

.card-header {
    background-color: #f9a825;
}

/*menu data kategori*/

.data-kategori {
    margin-top: 30px;
    margin-left: 30px;
}

.fa-trash-alt {
    color: #e53935;
}

.fa-trash-alt:hover {
    color: red;
}
.table-kategori {
    width: 600px;
    margin-top: 20px;
    margin-left: 200px;
}
.card-kategori {
    margin-left: 20px;
    margin-top: 70px;
    width: 50%;
}
.card {
    border-radius: 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-kategori {
    margin-top: 10px;
    border-radius: 2px;
}
.table-hover tr:hover td {
    background: #ffcc80;
    font-weight: bold;
}
/*menu data penulis*/
.data {
    margin-left: 200px;
    margin-top: 50px;
    width: 600px;
}
.kunci {
    color: #ff8f00;
    position: middle;
    width: 50px;
}
.fa-key:hover {
    color: #ff3d00;
}
.password {
    margin-left: 50px;
    margin-top: 50px;
    width: 50%;
}
.form-pass {
    width: 70%;
}
.editpassword {
    border-radius: 2px;
    margin-top: 20px;
}
